
<div class="task-checkbox">
  <input type="checkbox" value="2" name="test" class="liChild"/>
</div>
<div class="task-title"><span class="task-title-sp">Present 2013 Year IPO Statistics at Board Meeting</span><span class="label label-sm label-success">Company</span><span class="task-bell"><i class="fa fa-bell-o"></i></span></div>