.task-checkbox
  input.liChild(type='checkbox', value='2', name='test')
.task-title
  span.task-title-sp Present 2013 Year IPO Statistics at Board Meeting
  span.label.label-sm.label-success Company
  span.task-bell
    i.fa.fa-bell-o
//- .task-config
  .task-config-btn.btn-group
    a.btn.btn-xs.default(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
      i.fa.fa-cog
      i.fa.fa-angle-down
    ul.dropdown-menu.pull-right
      li
        a(href='javascript:;')
          i.fa.fa-check  Complete
      li
        a(href='javascript:;')
          i.fa.fa-pencil  Edit
      li
        a(href='javascript:;')
          i.fa.fa-trash-o  Cancel
